<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{titol}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/manga" routerLinkActive="active">Manga </a>
            <a class="nav-item nav-link" routerLink="/genere" routerLinkActive="active">Genere</a>
            <a class="nav-item nav-link" routerLink="/autor" routerLinkActive="active">Autor</a>
            <a class="nav-item nav-link" routerLink="/favorits" routerLinkActive="active">Favorits</a>

        </div>
    </div>
</nav>
<input type="search" id="search-bar">

<div id="contingut">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
            </tr>
            <tbody>
                <tr *ngFor="let manga of llistaMangas | ordenarPer:'titol';index as i; first as isPrimer ">
                    <th scope="col">{{i+1}}</th>
                    <td>
                        <h3>{{manga.titol}}</h3> <img src={{manga.imgUrl}}>
                        <p>{{manga.autor.nom}} {{manga.autor.cognom}} {{manga.autor.data_naixement}} {{manga.autor.pais}}
                        </p>
                    </td>


                </tr>
            </tbody>

    </table>
    <h2>LLista Alumnes</h2>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let alumne of alumnes | ordenarPer:'n'">
            nom : {{alumne.n}}
        </li>
    </ul>


</div>
<router-outlet></router-outlet>