button {
  background: transparent;
  border: 0;
  margin: 5px;
  height: 100%;
  width: 100%;
  transition: background-color 0.3s;
}

button:focus {
  outline: 0;
}

.contenidor {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: grid;
  grid-template-columns: auto 50px 44.4375rem 50px auto;
  grid-template-rows: 20% auto 20%;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.left-arrow img,
.right-arrow img,
.quit-bt img {
  background-color: transparent;
  transition: all 0.3s;
}

.left-arrow:hover img,
.right-arrow:hover img,
.quit-bt:hover img {
  background-color: rgba(255, 240, 240, 0.3);
  box-shadow: 0 0 10px rgba(255, 240, 240, 0.3);
  border-radius: 10%;
}

.left-arrow {
  grid-column: 2;
  grid-row: 2;
}

.right-arrow {
  grid-column: 4;
  grid-row: 2;
}

.quit-bt {
  grid-column: 4;
  grid-row: 1;
}

.manga-page {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* width: 33.3125rem; */
  margin: 5px auto;
  /* height: 100%; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
